<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="login-form-container"
>
  <mat-card-header>
    <div class="header">
      <mat-card-title class="card-title">Welcome back!</mat-card-title>
      <mat-card-subtitle class="card-subtitle">Welcome back, please enter your details.</mat-card-subtitle>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div
      class="login-inputs"
    >
      <mat-form-field>
        <input
          matInput
          placeholder="Email adress"
          formControlName="email"
          type="text"
        />
        <mat-error>{{ parseErrors(form.controls['email'].errors) }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Password"
          formControlName="password"
          type="password"
        />
        <mat-error> {{ parseErrors(form.controls['password'].errors) }}</mat-error>
      </mat-form-field>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <div class="actions">
      <button
        mat-flat-button
        type="submit"
      >
        Sign in
      </button>

      <div class="no-account-container">
        <p class="no-account-question">Don't have a Chat A.I+ account?</p>
        <button
          type="button"
          mat-button
          (click)="onNewAccountClick()"
        >
          Create new account
        </button>
      </div>
    </div>
  </mat-card-actions>
</form>
