.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;

  .mat-mdc-card-content {
    width: 100%;
  }

  .mat-mdc-card-actions {
    width: 100%;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;

  .card-title {
    font-size: 32px;
  }

  .card-subtitle {
    color: var(--tertiary-light);
    text-align: center;
  }
}


.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  row-gap: 40px;

  .no-account-question {
    text-align: center;
  }

  .no-account-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
