<div class="chat-window">
  @if (!chat()?.chatItems?.length) {
    <div class="initial-message-wrapper">
      <p class="initial-message">How can I help you today?</p>
    </div>
  }

  @for (chatItem of chat()?.chatItems; track $index) {
    <div class="chat-grid-item">
      <mat-icon class="message-icon">face</mat-icon>

      <p class="chat-message">{{ chatItem.userMessage }}</p>

      <div></div>

      <div>
        <p
          class="bot-title"
          [class.bot-title--error]="chatItem.botMessageData.status===StatusType.Failed">
          CHAT A.I+
        </p>

        @switch (chatItem.botMessageData.status) {
          @case (StatusType.Pending) {
            <app-loader/>
          }
          @case (StatusType.Failed) {
            <div class="failed-message-wrapper">
              <p class="chat-message--response">Something went wrong while fetching chat response...</p>

              <button
                [class.error-button]="chatItem.botMessageData.status===StatusType.Failed"
                mat-flat-button
                (click)="refreshButtonClick.emit(chatItem.userMessage)"
              >
                <mat-icon>rotate_right</mat-icon>
                Try again
              </button>
            </div>
          }
          @case (StatusType.Success) {
            <p class="chat-message--response">{{ chatItem.botMessageData.text }}</p>
          }
        }
      </div>
    </div>

    <mat-divider/>
  }
</div>
