@use '../../../../../utils/colors';

$titleSize: 13px;

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.chat-window {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 1.25rem;
  overflow: auto;
  row-gap: 20px;
}

.chat-grid-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  column-gap: 5px;
  row-gap: 7px;
}

.bot-title {
  font-size: $titleSize;
  color: var(--mat-sys-primary);
  font-style: italic;
  margin-top: 0;
  margin-bottom: 3px;

  &--error {
    color: var(--error-color);
  }
}

.failed-message-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.error-message-wrapper {
  display: flex;
}

.chat-message {
  word-break: break-word;
  margin: 0;
  color: var(--tertiary-light);
  font-size: $titleSize;
}

.chat-message--response {
  @extend .chat-message;
  font-size: 16px;
  font-weight: 500;
  color: colors.$primary-color;
}

.error-button {
  background-color: var(--mat-sys-tertiary);
}

.message-icon {
  overflow: initial;
  font-size: 1.8rem;
  width: auto;
  height: auto;
  color: colors.$primary-color;
}

.message-icon--error {
  @extend .message-icon;
  color: colors.$error-color;
}

.initial-message-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.initial-message {
  font-size: 2.188rem;
  opacity: 0;
  animation: reveal 1s forwards;
  text-align: center;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}


