.new-chat-button {
  flex: 1;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  row-gap: 2.5rem;
  box-sizing: border-box;
}

.main-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100%;
  box-sizing: border-box;
}

.hidden {
  width: 0 !important;
}

.sidebar {
  &--actions {
    display: flex;
    width: 100%;
    column-gap: 10px;
    margin-bottom: 5px;
  }

  &--content {
    overflow: auto;
    flex: 1;
  }
}

.chat-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  row-gap: 1.875rem;
  padding: 20px 15%;
  overflow: hidden;
}

.show-chat-button {
  position: absolute;
  top: 15px;
  z-index: 1;
}

.show-sidebar-button {
  margin-top: 15px;
}

.profile-button {
  width: 100%;
  justify-content: flex-start;
  border-color: var(--divide-color) !important;
  padding-inline: 10px;

  .profile-button-content {
    display: flex;
    column-gap: 10px;
    align-items: center;

    .username {
      margin: 0;
      color: var(--mat-sys-tertiary);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .user-icon-wrapper {
      color: black;
      display: flex;

      .mat-icon {
        font-size: xx-large;
        height: max-content;
        width: max-content;
      }
    }
  }
}

.panel-tabs-wrapper {
  height: 100%;

  .mat-mdc-tab-body {
    color: red !important;
    overflow: hidden;
  }
}

.files-container {
  display: flex;
  border: 2px dashed var(--primary-dark);
  flex: 1;
  margin-block: 10px;
  overflow: hidden;


  .upload-section-actions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    text-align: center;

    p {
      margin: 0;
    }
  }

  .dragging {
    pointer-events: none;
  }
}

.file-list-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: linear-gradient(
      white 30%,
      rgba(255, 255, 255, 0)
  ) center top,
  linear-gradient(
      rgba(255, 255, 255, 0),
      white 70%
  ) center bottom,
  radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
  ) center top,
  radial-gradient(
      farthest-side at 50% 100%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
  ) center bottom;

  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 150% 14px, 150% 14px;
  background-attachment: local, local, scroll, scroll;
  padding: 0;
}

.file-list-container::-webkit-scrollbar {
  display: none;
}

.upload-button {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-secondary);
  padding: 1rem;
}

.file-template {
  text-align: center;
}

.file-template:hover {
  cursor: pointer;
  color: var(--mat-sys-primary);
}

.file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-icon {
  font-size: 40px;
  height: fit-content;
  width: fit-content;
}

.file-actions {
  display: flex;
}

.files-tab {
  margin-block: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.selected {
  color: red;
}

.success-icon {
  overflow: initial;
  color: var(--mat-sys-primary);
}

.upload-file-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden
}

.file-list-item {
  display: flex;
  column-gap: 10px;
  align-items: center;
}




