<mat-drawer-container style="height: 100%">
  <mat-drawer
    #sidebar
    [(opened)]="panelVisibility"
    mode="side"
    style="width: 17.5%"
  >
    <app-sidebar
      (panelVisibilityIconClick)="sidebar.toggle()"
      [title]="'CHAT A.I+'"
    >

      <div
        class="sidebar--actions"
        panel-actions
      >
        <button
          class="new-chat-button"
          mat-flat-button
          (click)="startNewChat()"
        >
          <mat-icon>add</mat-icon>
          New chat
        </button>

        <mat-checkbox
          [(ngModel)]="shouldFail"
          [matTooltip]="!shouldFail() ? 'Enable bot fail' : 'Disable bot fail'"
        />
      </div>

      <div
        style="height: 100%;"
        panel-content
      >
        <chat-history/>
      </div>

      <div
        panel-footer
      >
        <button
          mat-stroked-button
          [matMenuTriggerFor]="menu"
          class="profile-button"
        >
          <div class="profile-button-content">
            <div class="user-icon-wrapper">
              <mat-icon>account_circle</mat-icon>
            </div>

            <p class="username">{{ currentUser()?.fullName }}</p>
          </div>
        </button>

        <mat-menu #menu="matMenu">
          <button
            class="logout-button"
            mat-menu-item
            (click)="onLogoutButtonClick()"
          >
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </mat-menu>

      </div>
    </app-sidebar>
  </mat-drawer>

  <mat-drawer-content>
    <div class="main-wrapper">

      <div class="main-section">
        <button
          mat-mini-fab
          class="show-sidebar-button"
          [ngStyle]="{display: panelVisibility() ? 'none' : 'initial'}"
          [matTooltip]="'Show sidebar'"
          (click)="sidebar.toggle()"
        >
          <mat-icon fontSet="material-icons-outlined">view_sidebar</mat-icon>
        </button>

        <div class="chat-section">
          <chat-window (refreshButtonClick)="refetchBotMessage($event)"/>

          <chat-actions
            (querySend)="onUserQuerySend($event)"
          />
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
