.new-chat-button {
  flex: 1;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  row-gap: 2.5rem;
  box-sizing: border-box;
}

.main-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100%;
  box-sizing: border-box;
}

.hidden {
  width: 0 !important;
}

.sidebar {
  &--actions {
    display: flex;
    width: 100%;
    column-gap: 10px;
    margin-bottom: 5px;
  }

  &--content {
    overflow: auto;
    flex: 1;
  }
}

.chat-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  row-gap: 1.875rem;
  padding: 20px 15%;
  overflow: hidden;
}

.show-chat-button {
  position: absolute;
  top: 15px;
  z-index: 1;
}

.show-sidebar-button {
  margin-top: 15px;
}

.profile-button {
  width: 100%;
  justify-content: flex-start;
  border-color: var(--divide-color) !important;
  padding-inline: 10px;

  .profile-button-content {
    display: flex;
    column-gap: 10px;
    align-items: center;

    .username {
      margin: 0;
      color: var(--mat-sys-tertiary);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .user-icon-wrapper {
      color: black;
      display: flex;

      .mat-icon {
        font-size: xx-large;
        height: max-content;
        width: max-content;
      }
    }
  }
}

.panel-tabs-wrapper {
  height: 100%;

  .mat-mdc-tab-body {
    color: red !important;
  }
}

.files-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-rows: max-content;
  border: 2px dashed var(--primary-dark);
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  margin-block: 10px;
  padding: 10px
}

.file-template {
  text-align: center;
}

.file-template:hover {
  cursor: pointer;
  color: var(--mat-sys-primary);
}

.file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-icon {
  font-size: 40px;
  height: fit-content;
  width: fit-content;
}

.selected {
  color: red;
}




