<div class="chat-actions">
  <query-input
    [(query)]="message"
    placeholder="What's in your mind?..."
    (enterPressed)="onUserQuerySend(message())"
  >
    <mat-icon
      prefix
      fontSet="material-symbols-outlined"
      class="brain-icon"
    >
      neurology
    </mat-icon>

    <button
      suffix
      class="send-button"
      mat-icon-button
      (click)="onUserQuerySend(message())"
    >
      <mat-icon fontSet="material-symbols-outlined">send</mat-icon>
    </button>
  </query-input>
</div>
