

<main>
  <div class="main-wrapper">
    <resizable-panel
      [width]="'15%'"
      [panelVisibility]="panelVisibility()"
      (panelVisibilityIconClick)="togglePanelVisibility()"
    >
      <div
        panel-actions
        class="panel-actions"
      >
        <app-button
          matTooltip="New chat"
          matTooltipClass="tooltip"
          (click)="startNewChat()"
        >
          <mat-icon icon>create</mat-icon>
        </app-button>

        <mat-checkbox
          [(ngModel)]="shouldFail"
          [matTooltip]="!shouldFail() ? 'Enable bot fail' : 'Disable bot fail'"
          matTooltipClass="tooltip"
        />
      </div>

      <div
        panel-content
        class="right-panel--main"
      >
        <p class="right-panel--main-label">Your last conversations: </p>
        <chat-history/>
      </div>
    </resizable-panel>

    <div class="main-section">
      <div class="title-wrapper">
        <div style="height: auto">
          <h1 class="app-title">CHAT AI</h1>
          <div class="app-title--underline"></div>
        </div>
      </div>

      <div class="chat-section">
        <chat-window (refreshButtonClick)="refetchBotMessage($event.chatItemId, $event.userQuery)"/>
        <chat-actions
          [shouldFail]="shouldFail()"
          (querySend)="onUserQuerySend($event)"
        />
      </div>
    </div>
  </div>
</main>
