<div class="sidebar-wrapper">
  <div class="title-and-actions">
    <p class="title">{{ title() }}</p>

    <div class="main-actions">
      <button
        mat-mini-fab
        class="sidebar-toggle-button"
        [matTooltip]="'Hide sidebar'"
        (click)="panelVisibilityIconClick.emit()"
      >
        <mat-icon fontSet="material-icons-outlined">view_sidebar</mat-icon>
      </button>

      <ng-content select="[panel-actions]"/>
    </div>
  </div>

  <mat-divider/>

  <div class="sidebar-content-wrapper">
    <ng-content select="[panel-content]"/>
  </div>

  <div class="sidebar-footer-wrapper">
    <ng-content select="[panel-footer]"/>
  </div>

</div>
