$secondary-color-new: #000;
$secondary-color-new--light: #696969;

$primary-color-new-hover: #f6f6ff;

$primary-color: #101826;
$secondary-color: #f3f6fb;
$accent-color: #FBF3C5;
$error-color: #C20114;
$info-color: #087E8B;
$default-color: #FFFFFF;

$secondary-color--dark: #C5BBF2;
$accent-color--dark: #BEA30E;

$primary-color--light: #243756;
