$primary-color: #101826;
$secondary-color: #DCD6F7;
$accent-color: #FBF3C5;
$error-color: #C20114;
$info-color: #087E8B;
$default-color: #FFFFFF;

$secondary-color--dark: #C5BBF2;
$accent-color--dark: #BEA30E;

$primary-color--light: #243756;
