@use '@angular/material' as mat;

html {
  font-family: Outfit, sans-serif;

  @include mat.theme((
    color: mat.$violet-palette,
    typography: Outfit,
    density: 0
  ));
}

:root {
  --background-color: #f3f6fb;
  --background-light: #f6f6ff;
  --primary-dark: #333a96;
  --tertiary-light: #696969;
  --error-color: red;
  --accent-color: deeppink;
  --divide-color: #ebebeb;

  @include mat.theme-overrides((
    primary: #5661f6,
    secondary: #fff,
    tertiary: #000,
  ));

  @include mat.divider-overrides((
    color: var(--divide-color)
  ));

  @include mat.fab-overrides((
    small-foreground-color: var(--mat-sys-secondary),
    small-container-color: var(--mat-sys-tertiary)
  ));

  @include mat.form-field-overrides((
    filled-container-color: var(--mat-sys-secondary)
  ));

  @include mat.tooltip-overrides((
    container-color: var(--primary-dark),
    supporting-text-color: var(--mat-sys-secondary),
  ));
}
