@use '@angular/material' as mat;

html {
  font-family: Outfit, sans-serif;

  @include mat.theme((
    color: mat.$violet-palette,
    typography: Outfit,
    density: 0
  ));
}

:root {
  --accent-color: deeppink;
  --tertiary-light: #919090;
  --error-color: red;

  @include mat.theme-overrides((
    primary: #5661f6,
    secondary: #fff,
    tertiary: #000,
  ));

  @include mat.divider-overrides((
    color: #ebebeb,
  ));

  @include mat.fab-overrides((
    small-foreground-color: var(--mat-sys-secondary),
    small-container-color: var(--mat-sys-tertiary)
  ));

  @include mat.form-field-overrides((
    filled-container-color: var(--mat-sys-secondary)
  ));
}
